<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="MySection111" type="ConfigFileTool.MySection1, ConfigFileTool" />
    <section name="MySection222" type="ConfigFileTool.MySection2, ConfigFileTool" />
    <section name="MySection333" type="ConfigFileTool.MySection3, ConfigFileTool" />
    <section name="MySection444" type="ConfigFileTool.XmlKeyValueSection, ConfigFileTool" />

    <!--默认设置-->
    <section name="SAPDefaultSetting" type="ConfigFileTool.SapDefaultSettingSection,ConfigFileTool "/>
    <!--全局设置-->
    <section name="GlobalSetting" type="ConfigFileTool.XmlKeyValueSection, ConfigFileTool"/>

    <!--SAP连接定义-->
    <sectionGroup name="SAPINT">
      <section name="GeneralSettings" type="ConfigFileTool.SapConfig.SAPGeneralConfiguration,ConfigFileTool"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="ConfigFileTool.SapConfig.RfcDestinationConfiguration,ConfigFileTool"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="ConfigFileTool.SapConfig.RfcServerConfiguration,ConfigFileTool"/>
      </sectionGroup>
    </sectionGroup>
    <!--SAP连接定义-->
  </configSections>

  <!--默认设置,在下面一定要有SAP连接的配置-->
  <SAPDefaultSetting db="sqlClient" sapclient="RET765" sapserver="RET900_SERVER" />

  <GlobalSetting>
    <clear />
    <add key="DefaultTemplateDb" value="AbapCodeTemplateDb" />
  </GlobalSetting>

  <!--SAP连接定义-->
  <SAPINT>
    <GeneralSettings defaultTraceLevel="" traceDir="" traceEncoding="" traceType=""></GeneralSettings>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>-->
		      <add NAME="LH205" USER="wwsheng" PASSWD="wwsheng" CLIENT="500" LANG="ZH" ASHOST="192.168.0.205" SYSNR="00" SAPROUTER=""/>
          <add NAME="RET900" USER="wwsheng" PASSWD="wwsheng" CLIENT="900" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER=""/>
          <add NAME="RET765" USER="wws" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER=""/>
          <add NAME="CHJ" USER="wwsheng" PASSWD="wwsheng" CLIENT="800" LANG="ZH" ASHOST="192.168.0.252" SYSNR="00" SAPROUTER=""/>
          
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add NAME="RET900_SERVER" REPOSITORY_DESTINATION="RET900" GWHOST="192.168.0.208" SAPROUTER="" GWSERV="sapgw00" PROGRAM_ID="DES_RFC_SERVER" REG_COUNT="5" />
      
        </servers>
      </ServerConfiguration>
    </ServerSettings>
  </SAPINT>

  <!--数据连接设置-->
  <connectionStrings>
    <add name="SQLite3"
            connectionString="data source=E:\wangws\sapdb_sqlite.db3;cache size=4000"
            providerName="System.Data.SQLite" />
    <add name="MySqlStr"
            connectionString="server = localhost; user id = root; password = ''; database = sapdb;charset = 'utf8'"
            providerName="MySql.Data.MySqlClient"/>
    <add name="Access2010"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\wangws\sapdb.accdb"
            providerName="System.Data.OleDb" />
    <add name="AbapCodeTemplateDb"
        connectionString="data source=E:\wangws\代码模板.db;cache size=4000"
        providerName="System.Data.SQLite" />
	<add name="sqlClient"
      connectionString="Data Source=localhost;Initial Catalog=sapdb;User ID=sa;Password=wwsheng"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--其它定义-->
  <MySection111 username="fish-li" url="http://www.cnblogs.com/fish-li/"></MySection111>

  <MySection222>
    <users username="fish" password="liqifeng"></users>
  </MySection222>

  <MySection444>
    <add key="aa" value="11111"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </MySection444>


  <MySection333>
    <Command1>
      <![CDATA[
create procedure ChangeProductQuantity(
	@ProductID int,
	@Quantity int
)
as
update Products set Quantity = @Quantity 
where ProductID = @ProductID;
			]]>
    </Command1>
    <Command2>
      <![CDATA[
create procedure DeleteCategory(
	@CategoryID int
)
as
delete from Categories
where CategoryID = @CategoryID;
			]]>
    </Command2>
  </MySection333>


  <system.net>
    <mailSettings>
      <smtp from="Fish.Q.Li@newegg.com">
        <network />
      </smtp>
    </mailSettings>
  </system.net>

  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>




</configuration>
