<?xml version="1.0"?>
 <configuration>
 
 
   <!--数据连接设置-->
   <connectionStrings>
     <add name="SQLite3"
             connectionString="data source=E:\wangws\shop.db3;cache size=4000"
             providerName="System.Data.SQLite" />
     <add name="MySqlStr"
             connectionString="server = localhost; user id = root; password = ''; database = sapdb"
             providerName="MySql.Data.MySqlClient"/>
     <add name="Access2010"
             connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\wangws\sapdb.accdb"
             providerName="System.Data.OleDb" />
     <add name="AbapCodeTemplateDb"
         connectionString="data source=E:\wangws\代码模板.db;cache size=4000"
         providerName="System.Data.SQLite" />
     <add name="sqlClient"
      connectionString="Data Source=localhost;Initial Catalog=sapdb;User ID=sa;Password=wwsheng"
      providerName="System.Data.SqlClient" />
   </connectionStrings>
 
   <startup useLegacyV2RuntimeActivationPolicy="true">
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
     <supportedRuntime version="v2.0.50727"/>
   </startup>
 </configuration>
