<?xml version="1.0"?>
<configuration>
  <!--<configSections>

    -->
  <!--默认设置-->
  <!--
    <section name="SAPDefaultSetting" type="ConfigFileTool.SapDefaultSettingSection,ConfigFileTool "/>
    -->
  <!--全局设置-->
  <!--
    <section name="GlobalSetting" type="ConfigFileTool.XmlKeyValueSection, ConfigFileTool"/>
    
    -->
  <!--SAP连接定义-->
  <!--
    <sectionGroup name="SAPINT">
      <section name="GeneralSettings" type="ConfigFileTool.SapConfig.SAPGeneralConfiguration,ConfigFileTool"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="ConfigFileTool.SapConfig.RfcDestinationConfiguration,ConfigFileTool"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="ConfigFileTool.SapConfig.RfcServerConfiguration,ConfigFileTool"/>
      </sectionGroup>
    </sectionGroup>
    -->
  <!--SAP连接定义-->
  <!--
    
  </configSections>

  -->
  <!--默认设置,在下面一定要有SAP连接的配置-->
  <!--
  <SAPDefaultSetting  db="SQLite3" sapclient="RET900" ></SAPDefaultSetting>

  <GlobalSetting>
    <add key="DefaultTemplateDb" value="AbapCodeTemplateDb"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </GlobalSetting>
  
  -->
  <!--SAP连接定义-->
  <!--
  <SAPINT>
    <GeneralSettings defaultTraceLevel="" traceDir="" traceEncoding="" traceType=""></GeneralSettings>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          -->
  <!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>-->
  <!--
          <add NAME="RET900" USER="wwsheng" PASSWD="wwsheng" CLIENT="900" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER="/H/183.62.136.248/H/"/>
          <add NAME="RET765" USER="wws" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER="/H/183.62.136.248/H/"/>
          <add NAME="CHJ" USER="wwsheng" PASSWD="wwsheng" CLIENT="800" LANG="ZH" ASHOST="192.168.0.252" SYSNR="00" SAPROUTER="/H/61.141.22.72/H/"/>
          <add NAME="BYD" USER="poact_vwang" PASSWD="123456" CLIENT="800" LANG="ZH" ASHOST="10.12.3.228" SYSNR="00" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <ServerConfiguration>
        <servers>
          <add NAME="PRD_REG_SERVER" REPOSITORY_DESTINATION="RET900" GWHOST="192.168.0.208" SAPROUTER="/H/183.62.136.248/H/" GWSERV="sapgw00" PROGRAM_ID="DES_RFC_SERVER" REG_COUNT="5" />
          <add NAME="PRD_REG_SERVER1" REPOSITORY_DESTINATION="BYD" GWHOST="10.12.3.228"  GWSERV="sapgw00" PROGRAM_ID="DES_RFC_SERVER" REG_COUNT="5" />

        </servers>
    </ServerConfiguration>
    </ServerSettings>
  </SAPINT>-->

  <!--数据连接设置-->
  <connectionStrings>
    <add name="SQLite3"
            connectionString="data source=E:\wangws\shop.db3;cache size=4000"
            providerName="System.Data.SQLite" />
    <add name="MySqlStr"
            connectionString="server = localhost; user id = root; password = ''; database = sapdb"
            providerName="MySql.Data.MySqlClient"/>
    <add name="Access2010"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\wangws\sapdb.accdb"
            providerName="System.Data.OleDb" />
    <add name="AbapCodeTemplateDb"
        connectionString="data source=E:\wangws\代码模板.db;cache size=4000"
        providerName="System.Data.SQLite" />
    <add name="sqlClient"
     connectionString="Data Source=localhost;Initial Catalog=sapdb;User ID=sa;Password=wwsheng"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
