@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SapLayout.cshtml";
}
    <script src="../../Scripts/myjs/query.js" type="text/javascript"></script>
<h2>RFC 接口调用测试</h2>
<form id="login" action="">
<table>
<tbody>
<tr><td><label >用户名</label></td><td><input id="username" type="text" value="wwsheng1"/></td></tr>
<tr><td><label >密码</label></td><td><input id="password" type="text" value="123456"/></td></tr>
<tr><td><label >客户端</label></td><td><input id="client" type="text" value="800"/></td></tr>
<tr><td><label >语言</label></td><td><input id="lang" type="text" value="ZH"/></td></tr>
<tr><td><input id="submit" type="button" value="测试登录" /></td></tr>
</tbody>
</table>
</form>

<form id="sorder" action="">
<table>
<tbody>
<tr><td><label>客户编号</label></td><td><input id="customerNumber" type="text" value="0000001033" /></td></tr>
<tr><td><label>销售组织</label></td><td><input id="salesOrg" type="text" value="1000" /></td></tr>
<tr><td><input id="getSaleOrderList" type="button" value="读取销售订单列表" /></td></tr>
</tbody>
</table>
</form>

<div id="jsonview">
xx
</div>