@{
    
    Layout = "";
}

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="../../Scripts/extjs/ext-all.js" type="text/javascript"></script>
    
    <link href="../../Scripts/extjs/resources/css/ext-all.css" rel="stylesheet"
        type="text/css" />
   
    <script src="../../Scripts/Query/app.js" type="text/javascript"></script>
    <script type="text/javascript">
        var baseUrl = "@Request.Url.GetLeftPart(UriPartial.Authority)";
    </script>
</head>
<body>

</body>
</html>
