<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="SAPINT">
      <section name="GeneralSettings" type="SAPINT.SapConfig.RfcGeneralConfiguration,SAPINT"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAPINT.SapConfig.RfcDestinationConfiguration,SAPINT"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="DestinationConfiguration" type="SAPINT.SapConfig.RfcDestinationConfiguration,SAPINT"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>


  <SAPINT>
    <GeneralSettings defaultTraceLevel="" traceDir="" traceEncoding="" traceType=""></GeneralSettings>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>-->
          <add NAME="RET900000" USER="wwsheng" PASSWD="wwsheng" CLIENT="900" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER="/H/183.62.136.248/H/"/>

          <!--<add NAME="CHJ" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>
          <add NAME="RETNEW" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>
          <add NAME="CHJ" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>-->
        </destinations>
      </DestinationConfiguration>
    </ServerSettings>
  </SAPINT>



  <connectionStrings>
    <add name="SQLite3" connectionString="data source=E:\wangws\sapdata.db;cache size=4000"
    providerName="System.Data.SQLite" />
  </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>



</configuration>
