@{
    Layout = "~/Views/Shared/_SapLayout.cshtml";
    ViewBag.Title = "SAP SE37模拟";
}

    <script src="../../Scripts/myjs/se37.js" type="text/javascript"></script>
        
<div>
    
    <input id="funame" value="RFC_READ_TABLE" onkeyup="getRfclist()" type="text" style="width:600px"/>
    <p>
    <input id="submit" type="button" value="查询函数定义" />
    <input id="post" type="button" value="函数调用" />
    <span><input id="isEditing" type="checkbox" value="true" />进行编辑状态</span>
    <input id="checkpostdata" type="button" value="检查调用数据" />
    <input id="getServer" type="button" value="检查服务连接" />
    
    </p>
</div>
<div id="searchresult">

</div>

<div id="tabs" class="easyui-tabs" style="width:900px;height:300px">
    <div title="Import">
        <table id="import">
        </table>
    </div>
    <div title="Export">
        <table id="export">
        </table>
    </div>
    <div title="Changing">
        <table id="change">
        </table>
    </div>
    <div title="Tables">
        <table id="tables">
        </table>
    </div>
</div>
<div>
    <table id="struct" class="easyui-datagrid" style="width:900px;height:200px" toolbar='#tb' >
    </table>
    <div id="re_prd">
    </div>
    <div id="tb">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:updatestruct()">Add</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="javascript:alert('Cut')">Cut</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:alert('Save')">Save</a>
	</div>
</div>

<div>
<table id="table" toolbar='#tb2' class="easyui-datagrid" rownumbers="true" 
        url="" 
        pagination="true" style="width:900px;height:360px" >
</table>
   <div id="tb2">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:addTableRow()">Add</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="javascript:clearTable('#table')">Cut</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:saveTableValue()">Save</a>
	</div>
</div>
<div>
 
</div>
<div id="jsonview">
</div>
