@{
    ViewBag.Title = "主页";
}
@using System.Data;
<h2>@ViewBag.Message</h2>
<p>
</p>
<div>
    
    <ul>
        <li><a href="@Url.Action("Index", "Se37")">SAP SE37模拟</a></li>
        <li><a href="@Url.Action("Index", "Query")">SAP QUERY查询</a></li>
        <li><a href="@Url.Action("Index","Linb")">Linb Js Lib</a></li>
        </ul>
</div>
