<?xml version="1.0"?>
<configuration>

  <!--数据连接设置-->
  <connectionStrings>
    <add name="SQLite3" connectionString="data source=E:\wangws\shop.db3;cache size=4000" providerName="System.Data.SQLite"/>
    <add name="MySqlStr" connectionString="server = localhost; user id = root; password = ''; database = sapdb" providerName="MySql.Data.MySqlClient"/>
    <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\wangws\sapdb.accdb" providerName="System.Data.OleDb"/>
    <add name="AbapCodeTemplateDb" connectionString="data source=E:\wangws\shop.db3;cache size=4000" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <!--默认设置,在下面一定要有SAP连接的配置--><!--
  <SAPDefaultSetting  db="Access2010" sapclient="RET900" ></SAPDefaultSetting>

  <GlobalSetting>
    <add key="DefaultTemplateDb" value="AbapCodeTemplateDb"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </GlobalSetting>
  
  --><!--其它定义--><!--
  <MySection111 username="fish-li" url="http://www.cnblogs.com/fish-li/"></MySection111>

  <MySection222>
    <users username="fish" password="liqifeng"></users>
  </MySection222>

  <MySection444>
    <add key="aa" value="11111"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </MySection444>


  <MySection333>
    <Command1>
      <![CDATA[
create procedure ChangeProductQuantity(
	@ProductID int,
	@Quantity int
)
as
update Products set Quantity = @Quantity 
where ProductID = @ProductID;
			]]>
    </Command1>
    <Command2>
      <![CDATA[
create procedure DeleteCategory(
	@CategoryID int
)
as
delete from Categories
where CategoryID = @CategoryID;
			]]>
    </Command2>
  </MySection333>


  <system.net>
    <mailSettings>
      <smtp from="Fish.Q.Li@newegg.com">
        <network />
      </smtp>
    </mailSettings>
  </system.net>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
