<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="MySection111" type="ConfigFileTool.MySection1, ConfigFileTool" />
    <section name="MySection222" type="ConfigFileTool.MySection2, ConfigFileTool" />
    <section name="MySection333" type="ConfigFileTool.MySection3, ConfigFileTool" />
    <section name="MySection444" type="ConfigFileTool.XmlKeyValueSection, ConfigFileTool" />
    
    --><!--默认设置--><!--
    <section name="SAPDefaultSetting" type="ConfigFileTool.SapDefaultSettingSection,ConfigFileTool "/>
    --><!--全局设置--><!--
    <section name="GlobalSetting" type="ConfigFileTool.XmlKeyValueSection, ConfigFileTool"/>
    
    --><!--SAP连接定义--><!--
    <sectionGroup name="SAPINT">
      <section name="GeneralSettings" type="ConfigFileTool.SapConfig.SAPGeneralConfiguration,ConfigFileTool"/>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="ConfigFileTool.SapConfig.RfcDestinationConfiguration,ConfigFileTool"/>
      </sectionGroup>
      <sectionGroup name="ServerSettings">
        <section name="DestinationConfiguration" type="ConfigFileTool.SapConfig.RfcDestinationConfiguration,ConfigFileTool"/>
      </sectionGroup>
    </sectionGroup>
    --><!--SAP连接定义--><!--
    
  </configSections>


  --><!--SAP连接定义--><!--
  <SAPINT>
    <GeneralSettings defaultTraceLevel="" traceDir="" traceEncoding="" traceType=""></GeneralSettings>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          --><!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>--><!--
          <add NAME="RET900" USER="wwsheng" PASSWD="wwsheng" CLIENT="900" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER="/H/183.62.136.248/H/"/>
          <add NAME="RET765" USER="wws" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00" SAPROUTER="/H/183.62.136.248/H/"/>
          <add NAME="CHJ" USER="wwsheng" PASSWD="wwsheng" CLIENT="800" LANG="ZH" ASHOST="192.168.0.252" SYSNR="00" SAPROUTER="/H/61.141.22.72/H/"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
    <ServerSettings>
      <DestinationConfiguration>
        <destinations>
          --><!--<add NAME="RETDEV" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>
          <add NAME="RETNEW" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>
          <add NAME="CHJ" USER="WWS" PASSWD="123456" CLIENT="765" LANG="ZH" ASHOST="192.168.0.208" SYSNR="00"/>--><!--
        </destinations>
      </DestinationConfiguration>
    </ServerSettings>
  </SAPINT>
  --><!--SAP连接定义-->


  <!--数据连接设置-->
  <connectionStrings>
    <add name="SQLite3"
            connectionString="data source=E:\wangws\shop.db3;cache size=4000"
            providerName="System.Data.SQLite" />
    <add name="MySqlStr"
            connectionString="server = localhost; user id = root; password = ''; database = sapdb"
            providerName="MySql.Data.MySqlClient"/>
    <add name="Access"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\wangws\sapdb.accdb"
            providerName="System.Data.OleDb" />
    <add name="AbapCodeTemplateDb"
            connectionString="data source=E:\wangws\shop.db3;cache size=4000"
            providerName="System.Data.SQLite" />
  </connectionStrings>

  <!--默认设置,在下面一定要有SAP连接的配置--><!--
  <SAPDefaultSetting  db="Access2010" sapclient="RET900" ></SAPDefaultSetting>

  <GlobalSetting>
    <add key="DefaultTemplateDb" value="AbapCodeTemplateDb"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </GlobalSetting>
  
  --><!--其它定义--><!--
  <MySection111 username="fish-li" url="http://www.cnblogs.com/fish-li/"></MySection111>

  <MySection222>
    <users username="fish" password="liqifeng"></users>
  </MySection222>

  <MySection444>
    <add key="aa" value="11111"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </MySection444>


  <MySection333>
    <Command1>
      <![CDATA[
create procedure ChangeProductQuantity(
	@ProductID int,
	@Quantity int
)
as
update Products set Quantity = @Quantity 
where ProductID = @ProductID;
			]]>
    </Command1>
    <Command2>
      <![CDATA[
create procedure DeleteCategory(
	@CategoryID int
)
as
delete from Categories
where CategoryID = @CategoryID;
			]]>
    </Command2>
  </MySection333>


  <system.net>
    <mailSettings>
      <smtp from="Fish.Q.Li@newegg.com">
        <network />
      </smtp>
    </mailSettings>
  </system.net>-->

</configuration>